html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --black-color: #292242;
  --sky-color: #18c0ff;
  --yellow-color: #fdb400;
  --red-color: #f72b60;
  --grey-color: rgb(238, 235, 235);
  --grey2-color: #ccc;
}
